cast-media-player {
	--theme-hue: 100;
	--progress-color: rgb(240, 36, 117);
	--logo-image: url("../images/logo-fr.svg");
	--theme-hue: 339;
}
[lang="fr"] {
	cast-media-player {
		--logo-image: url("../images/logo-fr.svg");
	}
}
